

h1.student.detail{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 0px;
    margin-top: 30px;
}

button.click{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    width: 20%;
}

.main-section{
    margin-left: 220px;
    margin-top: 10px;
}

.upload{
    display: flex
}
img.male{
    margin-top: 50px;
    height: 75px;
}

button.button1{
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}
h4.detail1 {
    margin-top: 50px;
}

.row1{
    margin-top: 50px;
}
.row2{
    margin-top: 50px;
}
.row3{
    margin-top: 50px;
}
.row4{
    margin-top: 50px;
}
.row5{
    margin-top: 50px;
}
.row6{
    margin-top: 50px;
}
.row7{
    margin-top: 50px;
}
.row8{
    margin-top: 50px;
}
.row9{
    margin-top: 50px;
}
input#html1{
    margin-left: 15px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.asd{
    width: 10%;
    margin-top: 50px;
}

label.lableform {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
label.lableform1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


input[type="text"] {
    width: 100%;
    padding: 5px;
}
input#birthday{
    width: 100%;
    padding: 5px;
}
input#email{
    width: 100%;
    padding: 5px;
}
input#phone{
    width: 100%;
    padding: 5px;
}


