@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');


img.logo{
    height: 100px;
    margin-left: 15px;
}

.profile{
    display: flex;
    margin-right: 20px;
}
h4.dummy{
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
h4.dummy{
    margin-top: 50px;
    margin-left: 15px;
}