.btn-add {
    box-shadow: 0px 15px 13px #000;
    /* box-shadow: 0 5px 12px -12px rgb(0 0 0 / 29%); */
      height: 140vh;
  }
  .btn {
    width: 50%;
   font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .abc{
    text-align: center;
    
  }

  .xyzq{
    margin-top: 103px !important;
  }

  img.student{
     height: 25px;
  }


.sidebar{
      height: 100vh;
      width: 200px;
      position: fixed;
      top: 0;
      left: 0;
      background: white;   
      box-shadow: 0px 0px 3px grey;
      z-index: 1;
}